*{
    margin: 0;
    padding: 0;
}
body{
    background: lightyellow;
}
header{
    position: absolute;
    top: 0;
    width: 100%;
/*    height: 250px;*/
    margin: auto;
}
.hcont  h1{
    font-size: 100px;
    text-align: center;
    text-shadow: 0 2px 2px blue;
    color: aliceblue;
    line-height: 190px;
}
.hcont  h3{
    text-align: center;
    text-shadow: 0 2px 2px blue;
    color: aliceblue;
}
.hcont{
    position: relative;
    margin: auto;
}
.wimg{
    width: 100%;
    height: 190px;
    position: absolute;
    z-index: 999;
    background: rgba(120, 120, 120, .5);
    top: 0;
    
}
main{
    width: 100%;
    margin: auto;
    position: relative;
    top: 190px;
}
.wrapper{
    width: 980px; 
    margin: auto;
    
}
.wrapflex{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}
.wheader{
    width: 100%;
    margin: auto;
    position: absolute;
}

.wheader img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity ease 4s;
}
.wheader img.showed{
    opacity: 1;
    transition: opacity ease 4s;
}

.pics{
    width: 600px;
    max-height: 500px;
    margin: 50px auto;
    position: absolute;
/*    left: 190px;*/
    
}

.pics img{
    width: 100%;
    object-fit: contain;
    position: absolute;
    box-shadow: 0 0 2px 2px gray;
    opacity: 0;
    transition: opacity ease 4s;
   
}
.back,.next{
    width: 100px;
    font-size: 24px;
    text-align: center;
    background: rgba(125, 125, 125, .2);
    margin: 210px 200px;
    z-index: 999;
    cursor: pointer;
}
.next.hidden{
    display: none;
}
.back.hidden{
    display: none;
}
.gal-1 .pics img.showed{
    opacity: 1;
    transition: opacity ease 4s;
}
.gal-2 .pics img.showed{
    opacity: 1;
    transition: opacity ease 4s;
}
.gal-3 .pics img.showed{
    opacity: 1;
    transition: opacity ease 4s;
}

.gal-1 .pics.bigPic{
    width: 940px;
    transition: all ease 2s;
}
.gal-2 .pics.bigPic{
    width: 940px;
    transition: all ease 2s;
}

.gal-3 .pics.bigPic{
    width: 940px;
    transition: all ease 2s;
}
section{
    background: rgba(150, 185,150, .5);
    border-bottom: 2px solid #333;
    min-height: 800px;
    box-shadow: 0 0 5px 2px #333;
    margin: 10px auto;
}
.wraph{
    position: relative;
    padding-top: 50px;
    
}
.wraph h3{
    color: lightblue;
    font-size: 24px;
    text-shadow: 0 2px 2px blue;
}
.slideShow{
    margin: 20px auto -20px auto;
    width: 220px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}
.slideShow span{
    color: darkcyan;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
}
.slideShow span:hover{
    color: darkcyan;
    text-shadow: 0 2px 2px yellow;
}
.stopShow{
    display: none;
    margin: 20px auto -20px auto;
    width: 220px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}
.stopShow span{
    color: darkcyan;
    font-size: 20px;
    cursor: pointer;
    line-height: 50px;
}
.stopBtn01.show{
    display: block;
}
.startBtn01.hidden{
  display: none;  
}

.stopBtn02.show{
    display: block;
}
.stopBtn03.show{
    display: block;
}
.startBtn02.hidden{
  display: none;  
}
.startBtn03.hidden{
  display: none;  
}

.stopPic{
/*    width: 100%;*/
    background: rgba(220, 12, 12, 1);
}
audio{
    width: 150px;
    height: 50px;
    background: green;
    margin: auto;
}