*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
a:hover{
    color: #0FC0FC;
}
li{
    list-style: none;
}
#menu{
    width: 270px;
    height: 100vh;
    background: #f3f3f3;
    padding: 20px;
    position: fixed;
    left: -270px;
    top: 0;
    display: none;
}
#menu li{
padding: 16px 32px;
border-bottom: 1px solid #333;
} 
.burger_menu.moveLeft{
    left: 260px;
}
/* Меню от Лущенко */
#menu.open_menu{
    left: 0;
}
.burger_menu{
position: absolute;
left: 0;
top: 0;
display: none;
}

@media(min-width: 320px) and (max-width: 480px) {
    #menu{
        display: block;
    }
    .burger_menu{
        display: block;
        }
    .wrapper{
        width: 320px;
        margin: auto;
    }

}

@media(min-width: 120px) and (max-width: 320px) {
    #menu{
        display: block;
    }
    .wrapper{
        width: 120px;
    }
    .burger_menu{
        display: block;
        }

        .pic {
            width: 267px;
    }
    ul.tabs{
        display: none;
    }
    .page_title h1 {
        font-size: 35px;
    }
}













