*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;  
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h3{
    color: #2c2c2c;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: 500;
    line-height: 1.25;
}

.wrapper{
    width: 1180px;
    margin: auto;
}
.login{
    width: 1180px;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 10px;
}
.login span{
 color: #278FD5;
}
header{
    min-height: 140px;
    background: #f3f3f3;
    border-bottom: 2px solid #ddd;
    margin: auto;
}

.top_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70px;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}
.top_nav a{
    color: #333333;
    margin-left: 40px; 
    min-width: 50px;
    font-weight: 400;
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
}
.logowrapp{
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;  
}
.logo{ 
    width: 200px;
}
.logo img{ 
width: 100%;
object-fit: cover;
}
.top_nav ul{
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    flex-basis: 600px;
    flex-grow: 2;
    margin-bottom: 10px;
}
.top_nav li{
    color: #333333;
    margin-left: 40px; 
    min-width: 50px;
    font-weight: 400;
    font-size: 16px; 
    cursor: pointer;
    position: relative;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
   }
   .tabLink::after{
content: "\f107";
font-family: "Font Awesome 5 Free";
position: absolute;
font-weight: 900;
top: 20%;
color: #007BCD;
cursor: pointer;
   }
   .top_nav a:hover::after{
    cursor: pointer;
       }

/* Вкладки */
.tabs_body{
    width: 100%;
    min-height: 280px;
    margin: auto;
    position: absolute;
    margin-top: 20px;
}
.tab-b{
    min-height: 280px;
    margin: auto;
    background: #F3F3F3;
    display: none;
    padding: 20px;
    /* border: 4px double #161618; */
    box-shadow: 0px 0px 10px 5px #ccc;
}
.tab-b a{
    color: #333333;
    font-weight: 600;
    font-size: 16px; 
    cursor: pointer;
    line-height: 16px;
    #001183
}
.tab-b a:hover{
    color: #001183;
    text-decoration: underline;
}
.tab-b.open{
    display: block;
}

   .location{
    flex-direction: column;
    text-align: center;
    margin: auto;
   }
   .banner{
    background: url(../img/volvo-trucks.jpg) top center no-repeat;
    background-size: cover;
    min-height: 30vmin;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    padding: 25px 0px;
   }

    .page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    min-height: 60vh;
    }
    .page h3{
     text-align: center;
     color: #161618;
     margin: 20px auto;

        }
    .leftSide{
        padding: 10px;
        margin: 0 auto;
        box-shadow: 3px 0px 5px -3px #ccc;
        /* flex-basis: calc(100% / 12 * 2 - 40px); */
        width: 160px;
        background: lightblue;
        flex-grow: 1;
    }
    .rightSide{
       width: 160px;
        padding: 10px;
        margin: 0 auto;
        box-shadow: -3px 0px 5px -3px #ccc;
        /* flex-basis: calc(100% / 12 * 2 - 40px); */
        background: lightblue;
        flex-grow: 1;
        
    }
    .leftSide h3, .rightSide h3{
        opacity: .2;
    }



    .infobox{
        padding: 10px;
        margin: 0 auto;
        /* flex-basis: calc(100% / 12 * 8); */
        /* background:lightblue; */
        flex-grow: 0;
    }
    .infobox h1{
        text-align: center;
        color: #161618;
        margin: 20px auto;
    }
    .infobox h3{
        text-align: left;
        color: #161618;
    }
    .pic{
        width: 400px;
        margin: auto;
    }
    .pic img{
        width: 100%;
        margin: auto;
        object-fit: cover;
    }
    

    footer {
        height: 330px;
        text-align: center;
        background: #161618;
        margin: 0 auto;
    }
.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-nav a{
    color: #ffffff;
    margin-left: 40px; 
    min-width: 20px;
    align-items: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
   }
   .volvo{
    margin-top: 20px;
   }
.volvo span{
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.picture{
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.picture img{
    width: 100%;
    object-fit: cover;
}

/* Humburger menu */
.hum{
    display: flex;
}
.hum_btn{
    border-radius: 5%;
    width: 25px;
    height: 25px;
    background: #278FD5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span.span_btn{
    width: 10px;
    height: 2px;
    display: block;
    margin: 2px auto;
    background: #161618;
}
/* Мобильное меню */
.black_nav{
    width: 100%;
    margin: auto;
    min-height: 50px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.black_nav span{
color: #fff;
}
.mobMenu ul{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
width: 100%;
min-height: 400px;
background: #fff;
padding: 10px;
}
.mobMenu li{
    flex-basis: calc(100% / 5);
    border-bottom: 1px solid #161618;
    width: 100%;
}
.mobMenu a{
padding: 16px 32px;
text-align: center;
font-size: 18px;
line-height: 75px;
color: #7D7D7D;
}
.showMenu {
    display: block;
}

/* Галлерея */
.gallery{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.pic{
    width: 800px;
    background: #000000;
    overflow: hidden;
    margin: 20px auto;
}
.pic img{
    max-width: 100%;
    object-fit: cover;
}
.pic img {
	display: block;
	width: calc(100% + 2px);
	-webkit-transition: all 1.3s linear 0s;
	-moz-transition: all 1.3s linear 0s;
	-ms-transition: all 1.3s linear 0s;
	-o-transition: all 1.3s linear 0s;
	transition: all 1.3s linear 0s;
}
.pic:hover img {
	-webkit-transfMorgNorm: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	opacity: .6;
}

@media (max-width: 960px) {
.grid-item {
	width: 50%;
}
.button-group {
	width: 90%;
}
.content {
	margin: 0px 30px;
	width: 90vw;
}
#breadcrumb ul {
	margin: 0px 30px;
}
}

@media (max-width: 640px) {
#wrapper {
	margin-top: 150px;
}
.grid-item {
	width: 100%;
}

}
img {
	max-width: 100%;
}
.note{
    font-size: 18px;
    font-weight: 600;
    color: #f00;
    background: #fe8d0b;
    padding: 0 5px;
}


@media screen and (min-width: 1200px) {
    {{!cursor}}
}


@media(min-width: 992px) and (max-width: 1200px) {
    .wrapper{
        width: 950px;
        margin: auto;
    }
    .login{
        width: 950px;
        margin: auto;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logo {
        width: 85px;
    }
    .top_nav ul {
        flex-grow: 0;
    }
}


@media(min-width: 768px) and (max-width: 992px) {
    .wrapper{
        width: 735px;
        margin: auto;
    }
    .login{
        width: 735px;
        margin: auto;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logo {
        width: 85px;
    }
    .top_nav ul {
        flex-grow: 0;
    }
    .pic {
        width: 680px;
    }
}


@media(min-width: 481px) and (max-width: 768px) {
    header {
        height: 200px;

    }
    .wrapper{
        width: 450px;
        margin: auto;
    }
    .login{
        width: 450px;
        margin: auto;
        display: none;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logo {
        width: 60px;
        display: none;
    }
    .top_nav ul {
        flex-grow: 0;
        margin: 25px auto;;
    }
    .pic {
        width: 420px;
    }

    .top_nav a{
        font-size: 12px;
        margin: 0 10px;
    }

    .top_nav li{
        font-size: 12px;
        margin: 0 10px;
    }
}

@media(min-width: 320px) and (max-width: 480px) {
    header {
        height: 200px;

    }
    .wrapper{
        width: 450px;
        margin: auto;
    }
    .login{
        width: 450px;
        margin: auto;
        display: none;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logowrapp{
        flex-direction: column;
    }
    .logo {
        width: 60px;
        /* display: none; */
    }
    .top_nav ul {
        flex-direction: column;
        justify-content: center;
    }
    .pic {
        width: 420px;
    }

    .top_nav a{
        font-size: 12px;
        margin: 0 10px;
    }

    .top_nav li{
        font-size: 12px;
        margin: 0 10px;
    }
    .hum_btn{
        display: flex;
        position: absolute;
        left: 0;
    }
}