*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;  
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 1px;
}
h3{
    color: #2c2c2c;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: 500;
    line-height: 1.25;
}

.wrapper{
    width: 1180px;
    margin: auto;
}
.login{
    width: 1180px;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 10px;
}
.login span{
 color: #278FD5;
}
header{
    min-height: 140px;
    background: #f3f3f3;
    border-bottom: 2px solid #ddd;
    margin: auto;
}

.top_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}
.top_nav a{
    color: #333333;
    margin-left: 40px; 
    min-width: 50px;
    font-weight: 400;
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
}
.logowrapp{
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
     
}
.logo{ 
    width: 130px;
}
.logo img{ 
width: 100%;
object-fit: cover;
}
.top_nav ul{
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    flex-basis: 600px;
    flex-grow: 2;
    margin-bottom: 10px;
}
.top_nav li{
    color: #333333;
    margin-left: 40px; 
    min-width: 50px;
    font-weight: 400;
    font-size: 16px; 
    cursor: pointer;
    position: relative;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
   }
   .tabLink::after{
content: "\f107";
font-family: "Font Awesome 5 Free";
position: absolute;
font-weight: 900;
top: 20%;
color: #007BCD;
cursor: pointer;
   }
   .top_nav a:hover::after{
    cursor: pointer;
       }

/* Вкладки */
.tabs_body{
    width: 100%;
    min-height: 280px;
    margin: auto;
    position: absolute;
    margin-top: 20px;
    /* z-index: 999; */
}
.tab-b{
    min-height: 280px;
    margin: auto;
    background: #F3F3F3;
    display: none;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #ccc;
}
.tab-b a{
    color: #333333;
    font-weight: 600;
    font-size: 16px; 
    cursor: pointer;
    line-height: 16px;
}
.tab-b a:hover{
    color: #001183;
    text-decoration: underline;
}
.tab-b.open{
    display: block;
}

   .location{
    flex-direction: column;
    text-align: center;
    margin: auto;
   }
   .banner{
    background: url(../img/volvo-trucks.jpg) top center no-repeat;
    background-size: cover;
    min-height: 30vmin;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    padding: 25px 0px;
   }

    .page{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
/*    min-height: 60vh;*/
    }
    .page h3{
     text-align: center;
     color: #161618;
     margin: 20px auto;

        }
    .leftSide{

        padding: 10px;
        margin: 0 auto;
        box-shadow: 3px 0px 5px -3px #ccc;
        flex-basis: calc(100% / 12 * 2);
        background: rgba(240, 240, 244, .5);
        flex-grow: 0;
    }
    .rightSide{
        padding: 10px;
        margin: 0 auto;
        box-shadow: -3px 0px 5px -3px #ccc;
        flex-basis: calc(100% / 12 * 2);
        background: rgba(240, 240, 244, .5);
        flex-grow: 0;
        
    }
    .infobox{
        max-width: 100%;
        padding: 10px;
        margin: 0 auto;
        flex-basis: calc(100% / 12 * 8);
        flex-grow: 1;
    }
    .infobox h1{
        text-align: center;
        color: #161618;
        margin: 20px auto;
        letter-spacing: 1px;
    }
    .infobox h3{
        text-align: left;
        color: #161618;
    }
   
    .infobox a{
        color: #001183;
        text-shadow: 0 0 1px #007BCD;
    }
    .infobox a:hover{
        color: #007BCD;
        text-shadow: 0 0 1px #001183;
    }
    footer {
        height: 380px;
        text-align: center;
        background: #161618;
        margin: 0 auto;
        padding: 20px;
    }
.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-nav a{
    color: #ffffff;
    margin-left: 40px; 
    align-items: center;
   }
   .volvo{
    margin-top: 20px;
   }
.volvo span{
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.picture{
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.picture img{
    width: 100%;
    object-fit: cover;
}

/* Hamburger menu */
.ham_btn{
    display: none;
}
span.span_btn{
    width: 10px;
    height: 2px;
    display: block;
    margin: 2px auto;
    background: #161618;
}
/* Мобильное меню */
.black_nav{
    width: 100%;
    margin: auto;
    min-height: 50px;
    background: #333;
}
.black_nav span{
color: #fff;
}

.mobMenu ul{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
width: 100%;
min-height: 400px;
background: #fff;
padding: 10px;
}
.mobMenu li{
    flex-basis: calc(100% / 5);
    border-bottom: 1px solid #161618;
    width: 100%;
}
.mobMenu a{
padding: 16px 32px;
text-align: center;
font-size: 18px;
line-height: 75px;
color: #7D7D7D;
}
.showMenu {
    display: block;
}

/* Галлерея */
.gallery{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
/*
    z-index: 99999;
    position: relative;
    top: 0;
*/
}
.justPic{
    width: 300px;
    box-shadow: 0px 0px 5px 5px lightgray;
    margin: 20px auto; 
    padding: 10px;

}

.justPic img {
    max-width: 100%;
    object-fit: cover;
}
.video li{
    background: lightyellow;
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0 2px 2px 0px lightblue;
    z-index: 9999;
}

.pic{
    height: 100%;
    background: #333;
    overflow: hidden;
    margin: 20px auto;
    transition: all 1.3s linear .2s;
}
.pic:hover{
    transform: scale(1.1);
}
.pic img {
    max-width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;
	width: calc(100% + 2px);
	/* -webkit-transition: all 1.3s ease 0s;
	-moz-transition: all 1.3s ease 0s;
	-ms-transition: all 1.3s ease 0s;
	-o-transition: all 1.3s ease 0s; */
	transition: all 1.3s linear 1s;
}
.pic:hover img {
	-webkit-transfMorgNorm: scale(1.08);
	-moz-transform: scale(1.08);
    transform: scale(1.08);
    opacity: .8;
}


img {
	max-width: 100%;
}
.note{
    font-size: 18px;
    font-weight: 600;
    color: rgb(65, 141, 50);
    padding: 15px;
}
.danger{
    font-size: 18px;
    font-weight: 600;
    color: #f00;
    padding: 0 15px;
}
.alert{
    background: #000;
    top: 50%;
    left: 50%;
    margin-left: -530px;
    font-size: 32px;
    font-weight: 600;
    color: #f00;
    padding: 0 15px;
    animation: dangerose 1s;
    position: fixed;
    z-index: 999;
}

/*Галлерея*/
/*Удаление контента при скрооле*/
/*
.galh{
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0 2px 2px skyblue;
    font-family: 'Pattaya', sans-serif;
}
.page.pagedel{
    display: none;
}
footer.pagedel{
    display: none;
}
.gallery{
    width: 100%;
    background: #0f0;
    display: none;
}
.gallery.showgal{
    display: block;
    position: relative;
    width: 100%;
}
.galcnt{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.picgal{
    width: calc(100% / 4 - 10px);
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.picgal img{
    transition: all 1.3s linear .2s;
    box-shadow: 0 1px 3px 3px #ccc;
}
.picgal:hover img {
	-webkit-transfMorgNorm: scale(1.08);
	-moz-transform: scale(1.08);
    transform: scale(1.08);
    opacity: .8;
}
.picgal.resize{
    width: calc(100% / 1 - 10px);
    position: relative;
    margin: auto;
    transform: none;
}
.picgal.resize:hover img{
    transform: none;
}
.wrapimg{
    position: relative;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
    z-index: 999;
    margin: auto;
}
*/
/*
====================================
====================================
====================================
====================================
====================================
============= АДАПТИВ ==============
====================================
====================================
====================================
====================================
*/
@keyframes dangerose {
  from {transform: rotate(180deg);}
   to {transform: rotate(360deg);}
  }
@media screen and (min-width: 1200px) {
    {{!cursor}}
}

@media (max-width: 960px) {
.grid-item {
	width: 50%;
}
.button-group {
	width: 90%;
}
.content {
	margin: 0px 30px;
	width: 90vw;
}
#breadcrumb ul {
	margin: 0px 30px;
}
}

@media (max-width: 640px) {
#wrapper {
	margin-top: 150px;
}
.grid-item {
	width: 100%;
}

}
@media(min-width: 992px) and (max-width: 1200px) {
    .wrapper{
        width: 950px;
        margin: auto;
    }
    .login{
        width: 950px;
        margin: auto;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logo {
        width: 85px;
    }
    .top_nav ul {
        flex-grow: 0;
    }
    .alert{
        font-size: 28px;
        font-weight: 600;
    }
}


@media(min-width: 768px) and (max-width: 992px) {
    .wrapper{
        width: 735px;
        margin: auto;
    }
    .login{
        width: 735px;
        margin: auto;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logo {
        width: 85px;
    }
    .top_nav ul {
        flex-grow: 0;
    }
    .pic {
        width: 680px;
    }

    .leftSide{
        flex-grow: 1;
    }
    .rightSide{
        flex-grow: 1;  
    }
    .infobox{
        flex-grow: 0;
    }
    .alert{
        font-size: 20px;
        font-weight: 600;
        left: 50%;
        margin-left: -380px;
    }
}


@media(min-width: 481px) and (max-width: 768px) {
    header {
        height: 200px;

    }
    .wrapper{
        width: 450px;
        margin: auto;
    }
    .login{
        width: 450px;
        margin: auto;
        display: none;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logo {
        width: 60px;
        display: none;
    }
    .top_nav ul {
        flex-grow: 0;
        margin: 25px auto;;
    }
    .pic {
        width: 420px;
    }

    .top_nav a{
        font-size: 12px;
        margin: 0 10px;
    }

    .top_nav li{
        font-size: 12px;
        margin: 0 10px;
    }
    .leftSide{
        flex-grow: 1;
    }
    .rightSide{
        flex-grow: 1;  
    }
    .infobox{
        flex-grow: 0;
        flex-basis: auto;
    }
    .alert{
        width: 460px;
        font-size: 16px;
        font-weight: 600;
        left: 50%;
        margin-left: -240px;
    }
}

@media(min-width: 320px) and (max-width: 480px) {
    ul.tabs{
        display: none;
    }
    .ham_btn{
        display: block;
    }
    header {
        height: 200px;

    }
    .wrapper{
        width: 320px;
        margin: auto;
    }
    .login{
        display: none;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logowrapp{
        flex-direction: column;
    }
    .logo {
        width: 60px;
    }
    .top_nav ul {
        flex-direction: column;
        justify-content: center;
    }
    .pic {
        width: 267px;
}

    .top_nav a{
        font-size: 12px;
        margin: 0 10px;
    }

    .top_nav li{
        font-size: 12px;
        margin: 0 10px;
    }
    .hum_btn{
        display: flex;
        position: absolute;
        left: 0;
    }
    .footer-nav a{
        margin-left: 10px; 
        min-width: 20px;
        color: darkcyan;
       }
       .volvo span{
        color: darkcyan;
    }

    .leftSide{
        flex-grow: 1;
    }
    .rightSide{
        flex-grow: 1;  
    }
    .infobox{
        flex-grow: 0;
        flex-basis: auto;
    }
    .footer-nav li:nth-child(2){
        display: none;
        }
        .alert{
            width: 320px;
            font-size: 16px;
            font-weight: 600;
            left: 50%;
            margin-left: -160px;
        }

}


@media(min-width: 120px) and (max-width: 319px) {
    ul.tabs{
        display: none;
    }
    .ham_btn{
        display: block;
    }
    header {
        height: 300px;

    }
    .wrapper{
        width: 200px;
        margin: auto;
    }
    .login{
        display: none;
    }
    .page_title h1.retroshadow {
        margin: auto;
    }
    .logowrapp{
        flex-direction: column;
    }
    .logo {
        width: 40px;
    }
    .top_nav ul {
        flex-direction: column;
        justify-content: center;
    }
    .pic {
        width: 180px;
}
.page_title h1 {
    font-size: 25px;
}
    .top_nav a{
        font-size: 12px;
        margin: 0 10px;
    }

    .top_nav li{
        font-size: 12px;
        margin: 0 10px;
    }
    .hum_btn{
        display: flex;
        position: absolute;
        left: 0;
    }
    .footer-nav a{
        margin-left: 10px; 
        color: darkcyan;
        font-size: 16px;
       }
       .footer-nav li:nth-child(2){
       display: none;
       }
       .volvo span{
        color: darkcyan;
    }

    .leftSide{
        flex-grow: 1;
    }
    .rightSide{
        flex-grow: 1;  
    }
    .infobox{
        flex-grow: 0;
        flex-basis: auto;
    }
    .alert{
        width: 160px;
        font-size: 16px;
        font-weight: 600;
        left: 50%;
        margin-left: -80px;
    }
}