.page_title h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 46px;
    padding: 40px 25px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.page_title h1.retroshadow {
    color: #2c2c2c;
    background-color: #fff;
    letter-spacing: 0.05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
